form label {
    margin-right: 5px;
}

.error-span {
    display: block;
    color: red;
    font-size: 0.8em;
    font-weight: bolder;
}

.reviews-view-map {
    height: 60vh;
    width: 85vw;
}

.choose-shop-map {
    height: 50vh;
    width: 45vw;
    margin: auto;
}