form label {
    margin-right: 5px;
}

.error-span {
    display: block;
    color: red;
    font-size: 0.8em;
    font-weight: bolder;
}

.leaflet-container {
    height: 60vh;
    width: 85vw;
}

.my-position-map-marker {
    opacity: 0.5;
}